MODEL:
  META_ARCHITECTURE: "SemanticSegmentor"
  BACKBONE:
    NAME: "build_segformer_backbone"

  SEGFORMER:
    LAYER_DIMENSIONS: (32, 64, 160, 256)
    ATTENTION_HEADS: (1, 2, 5, 8)
    FEED_FORWARD_EXPANSION_RATIOS: (8, 8, 4, 4)
    ATTENTION_REDUCTION_RATIOS: (8, 4, 2, 1)
    NUM_OF_EFFICIENT_SELF_ATTENTION_AND_MIX_FEED_FORWARD_LAYERS: 2
    NUM_OF_INPUT_CHANNELS: 3
    DECODER_DIMENSION: 256
    NUM_CLASSES: 4
VERSION: 2